.HeaderSection {
    height: 14vh;
    background-color: rgb(230, 230, 22);
}

.HeaderPart {
    height: 7vh;
    text-align: center;
}

#SearchBar {
    height: 3.5vh;
    width: 25vw;
    margin-top: 1.8vh;
    margin-bottom: 1.8vh;
}

.NavBar {
    text-align: center;
    height: 7vh;
    border-style: solid;
    line-height: 6vh;
}

.NavOptions {
    vertical-align: middle;
    line-height: normal;
    margin-left: 2vw;
}

.Content {
    height: 86vh;
    background-color: rgb(177, 178, 179);
    text-align: center;
}

.Benefits {
    display: inline-block;
    height: 10vh;
    width: 30vw;
    margin-top: 10vh;
    border-radius: 0.9vw;
    background-color: rgb(204, 228, 22);
    border-radius: 1vw;
}

.Benefits:hover{
    border: solid rgb(22, 78, 199)
}

.textoPrincipal {
    height: 8vh;
    width: 25vw;
    font-size: 1.5cm;
    margin-top: 1vh;
    margin-left: 2vw;
    font-family: Arial, Helvetica, sans-serif;
}